{% extends "stories/base.html" %}
{% load stories_tags %}

{% block title %}{{ story.title }}{% endblock %}

{% block content %}
  <h1>{{ story.title }}</h1>
  <p class="date">
    Published {{ story.publish }} by {{ story.author }}
  </p>
  {{ story.body|markdown }}
  <p>
  <a href="{% url "stories:story_share" story.id %}">
    Share this story
  </a>
</p>
<h2>Similar Stories</h2>
{% for story in similar_stories %}
  <p>
    <a href="{{ story.get_absolute_url }}">{{ story.title }}</a>
  </p>
{% empty %}
  There are no similar stories yet.
{% endfor %}
{% with comments.count as total_comments %}
    <h2>
      {{ total_comments }} comment{{ total_comments|pluralize }}
    </h2>
  {% endwith %}
  {% for comment in comments %}
    <div class="comment">
      <p class="info">
        Comment {{ forloop.counter }} by {{ comment.name }}
        {{ comment.created }}
      </p>
      {{ comment.body|linebreaks }}
    </div>
  {% empty %}
    <p>There are no comments yet.</p>
  {% endfor %}
  {% if new_comment %}
    <h2>Your comment has been added.</h2>
  {% else %}
    <h2>Add a new comment</h2>
    <form method="post">
      {{ comment_form.as_p }}
      {% csrf_token %}
      <p><input type="submit" value="Add comment"></p>
    </form>
  {% endif %}
{% endblock %}
