{% extends "stories/base.html" %}

{% block title %}My Stories{% endblock %}

{% block content %}
  <h1>My Stories</h1>
  {% for story in stories %}
    <h2>
      <a href="{{ story.get_absolute_url }}">
        {{ story.title }}
      </a>
    </h2>
    <p class="tags">
    Tags:
    {% for tag in story.tags.all %}
      <a href="{% url "stories:story_list_by_tag" tag.slug %}">
        {{ tag.name }}
      </a>
      {% if not forloop.last %}, {% endif %}
    {% endfor %}
    </p>
    <p class="date">
      Published {{ story.publish }} by {{ story.author }}
    </p>
    {{ story.body|truncatewords:30|linebreaks }}
  {% endfor %}
  {% include "pagination.html" with page=page_obj %}
{% endblock %}
